In [1]:
import pandas as pd

In [2]:
df = pd.read_table('illiteracy.txt')

In [11]:
df[['Illit', 'Births']].corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [10]:
df.describe()

           Illit     Births
count  94.000000  94.000000
mean   31.473404   3.664787
std    22.348622   1.585262
min     5.400000   0.880000
25%    13.325000   2.392500
50%    22.650000   3.370000
75%    49.325000   4.960000
max    90.200000   7.670000

In [12]:
w = pd.read_table('water.txt')

In [14]:
w.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [16]:
w[['hardness','mortality' ]].corr(method='pearson')

           hardness  mortality
hardness   1.000000  -0.654849
mortality -0.654849   1.000000

In [17]:
w[['hardness','mortality' ]].corr(method='spearman')

           hardness  mortality
hardness   1.000000  -0.631665
mortality -0.631665   1.000000

In [18]:
w[w['location']=='South'][['hardness','mortality' ]].corr(method='pearson')

           hardness  mortality
hardness   1.000000  -0.602153
mortality -0.602153   1.000000

In [19]:
w[w['location']=='North'][['hardness','mortality' ]].corr(method='pearson')

           hardness  mortality
hardness   1.000000  -0.368598
mortality -0.368598   1.000000

In [20]:
import math
def mmc(a,b,c,d):
    return (a*d - b*c)/math.sqrt((a+b)*(a+c)*(b+d)*(c+d))

In [21]:
mmc(239,203,515,718)

0.10900237458678963

In [32]:
import numpy as np
n = np.array([[239, 515], [203, 718]])

In [33]:
from scipy import stats
stats.chi2_contingency(n)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[198.96597015, 555.03402985],
        [243.03402985, 677.96597015]]))

In [36]:
z = stats.norm.ppf(1 - 0.05 / 2.)
pw = 203. / (203+718)
nw = (203+718)
pm =  239. / (239+515)
nm = (239+515)
left_boundary = (pm - pw) - z * np.sqrt(pm * (1 - pm)/ nm + pw * (1 - pw)/ nw)
right_boundary = (pm - pw) + z * np.sqrt(pm * (1 - pm)/ nm + pw * (1 - pw)/ nw)
    
print(left_boundary, right_boundary)

0.053905233215813156 0.13922183141523897

In [37]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [38]:
P = float(pw*nw + pm*nm) / (nw + nm)
    
Z = (pm - pw) / np.sqrt(P * (1 - P) * (1. / nm + 1. / nw))

In [39]:
print("p-value: %f" % proportions_diff_z_test(Z))

p-value: 0.000008

In [40]:
m = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])

In [41]:
chi2, p, dof, ex = stats.chi2_contingency(m)

In [42]:
chi2

293.68311039689746

In [43]:
p

2.4964299580093467e-62

In [46]:
m.sum()

2524

In [47]:
cramer = math.sqrt(chi2/(2524*2))

In [48]:
cramer

0.2412013934500338